/* Estilos para el formulario de inicio de sesión */
.login-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.login-form h2:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #28a745;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 20px); /* Ajustar el ancho del input */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border-color: #28a745; /* Cambio de color al hacer focus */
}

.login-form button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

.login-form button[type="submit"]:hover {
    background-color: #218838;
    transform: translateY(-2px);
}
